
.loginimgbg{
  background: url("/Assets/employerLoginimg.png")no-repeat center center/cover;
 
}
.loginimgbg2{
  background: url("/Assets/consultantimg.png")no-repeat center center/cover;
 
}
.selectedCard {
  border-left: 4px solid #5e9af8;
  background: linear-gradient(to left, #5e9af800, #5e9af833);
  padding-top: 20px;
}

.shortlistedCard {
  border-left: 4px solid red;
  background: linear-gradient(to left, #f9342e00, #f9342e33);
  padding-top: 20px;
}

@media (min-width: 1536px) {
  .desk {
    height: 100vh;
  }
  
}
@media (max-width: 410px) {
  .desk {
    margin-left: 56px;
  }
}
@media (max-width: 320px) {
  .desk {
    margin-left: 107px;
  }
}
