.loginimgbg {
  background: url("/Assets/employerLoginimg.png") no-repeat center center/cover;
}
.loginimgbg2 {
  background: url("/Assets/consultantimg.png") no-repeat center center/cover;
}
.chatbg{
  background-color: #F9F6EE;
}
.chatmsgbg{
background-color: #18212f !important;
}
.selectedCard {
  border-left: 4px solid #5e9af8;
  background: linear-gradient(to left, #5e9af800, #5e9af833);
  padding-top: 20px;
}
.inputbox input{
  background-color:#E7E9E9;
}
.shortlistedCard {
  border-left: 4px solid red;
  background: linear-gradient(to left, #f9342e00, #f9342e33);
  padding-top: 20px;
}
.shortlistedCard2{
  border-left: 4px solid red;
  background:#ffffff;
  padding-top: 20px;
}
.selectedShortlistedCard {
  border-left: 4px solid red;
  background: linear-gradient(to left, #f9342e00, #f9342e33);
  padding-top: 20px;
  /* Styles for combined selected and shortlisted state */
}
.removeButton {
  background-color: #5e9af8;
}

.searchdevider {
  height: 55px;
}
.searchbox1 {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}
.searchbox2 {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}
.searchbtn2 {
  display: none !important;
}
.searchbtn {
  display: flex;
}
.cs-message__content{
  background-color: #5e9af8;
  color: #ffffff;
}
.appliedChat{
  position: absolute;
  right: 100%;
  width: 400px;
  margin-right: -45px;
}
@media (min-width: 1536px) {
  .desk {
    height: 100vh;
  }
}
@media (max-width: 1024px) {
  .searchdevider {
    height: 55px;
  }
  .viewJobPostBg {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .jobpostbtnbox {
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .searchbtn2 {
    display: block !important;
    margin-top: 25px !important;
  }
  .searchbtn {
    display: none !important;
  }
  .searchbox1 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .searchbox2 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 20px;
  }
  .searchdevider {
    display: none;
  }
}
@media (max-width: 410px) {
  .viewJobPostBg {
    width: 100%;
  }
  .desk {
    margin-left: 56px;
  }
}
@media (max-width: 320px) {
  .desk {
    margin-left: 107px;
  }
}
